<div class="company-info" >
    <h2>OUR POTENTIAL</h2>
  
    <section >
      <div data-aos="fade-right" data-aos-offset="50" data-aos-easing="ease-out"  data-aos-duration="1000"><h3>#CUSTOMER SERVICE</h3>
      <p>
        HARMONY Security is committed to the highest levels of customer service for our clients, from the larger national
        account to smaller local contracts. We appreciate that the customer service we provide is just as important as
        the quality of our security officers in the overall experience for our clients. Our clients benefit from our
        relationship-based approach and single point of contact account management, backed by our 24-hour control room
        with standby QRT, a unique feature, and the extensive customer service training for our security personnel.
      </p>
    </div>
    </section>
  
    <section >
      <div data-aos="fade-right" data-aos-offset="50" data-aos-easing="ease-out"  data-aos-duration="1500">
      <h3>#OUR PEOPLE</h3>
      <p >
        HARMONY Security is known for the high caliber of our personnel. Our staff retention levels are above industry
        standards, reflecting excellent site management, focused training, professional development, internal promotion
        opportunities, and market competitive remuneration. Our on-site personnel are selected for their customer focus
        and are supported by our 24-hour supervisory services.
      </p>
    </div>
    </section>
  
    <section >
      <div data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50" data-aos-easing="ease-out">
      <h3>#RESOURCES AND TRANSITION PLANNING</h3>
      <p>
        With our effectively trained security staff, HARMONY Security has significant capacity for surge and emergency
        security requirements. We also have a transition program that ensures all contract rollouts are diligently planned
        and communicated to all stakeholders. We can provide transition services or additional resources at short notice.
      </p>
    </div>
    </section>
  
    <section >
      <div data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50" data-aos-easing="ease-out">
      <h3>#ACCOUNTABLE TRAINING ACADEMY</h3>
      <p>
        Our commitment to esteemed clients is well demonstrated by our investment in staff training as an accredited
        registered training academy (RTA). Our training programs encompass a variety of industry, customer service, and
        client-specific programs that ensure we are best positioned to deliver outstanding service to our clients while
        offering our guards challenging and rewarding long-term career opportunities.
      </p>
    </div>
    </section>
  
    <section >
      <div data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50" data-aos-easing="ease-out">
      <h3>#HEALTH AND SAFETY</h3>
      <p>
        HARMONY Security has an exceptional safety record, maintaining a documented Health, Safety, and Environment
        (HSE). We are committed to ensuring the good health and well-being of our employees, the community, and the
        environment.
      </p>
    </div>
    </section>
  
    <section >
      <div data-aos="fade-right" data-aos-duration="1500" data-aos-offset="50" data-aos-easing="ease-out">
      <h3>#VALUE/SOLUTION</h3>
      <p>
        HARMONY Security leverages our experience and depth of resources to provide our clients with the best value
        solutions. We remain competitive in the marketplace while offering premium services.
      </p></div> 
    </section>
  </div>
  