<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="logo-removebg-preview.png" alt="logo">
    <a class="navbar-brand" href="#">Harmony Group</a>

    <div class="hamburger-container" (click)="toggleMenu()">
      <div class="hamburger" [class.active]="isMenuOpen"></div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true" href="./contact-us">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="sideMenu" class="side-menu" [ngClass]="{'open': isMenuOpen}">
  <ul class="side-menu-list">
    <li><a href="#">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="./contact-us">Contact</a></li>
    <li><a href="./gallery">Gallery</a></li>
  </ul>
</div>
