<!-- security-services.component.html -->
<section id="security-services" class="services-section">
    <div class="services-container">
      <h2 class="services-header">What We Offer</h2>
      <p class="services-subtitle">
        Harmony Security provides full range of security services across all market segments.
      </p>
      <div class="services-list" >
        <div *ngFor="let service of services" class="service-item" >
            <div class="tickmark">&#10004;</div>
            <p data-aos="fade-up-new" data-aos-duration="1000" data-aos-offset="10">{{ service }}</p>
        </div>
      </div>
    </div>
  </section>
  