<app-header-banner
  [backgroundImage]="'/Handshake.jpg'"
  [title]="'More about WHAT WE DO'"
  [text]="'At Harmony, we give our best in the fields we work...'">
</app-header-banner>
<section class="section2">
  <div class="sectionOne">
    <div class="image-container">
      <img src="watch1.jpg" alt="Culture Image" class="culture-image" />
    </div>
    <div class="text-container">
      <h2 class="section-title">Culture We Nourish</h2>
      <p class="intro-paragraph">
        At Watchman Security, we are committed to fostering a culture that emphasizes integrity, vigilance, and continuous improvement. Our team is dedicated to providing top-tier security services while nurturing a supportive and ethical work environment.
      </p>
      <ul class="bullet-points">
        <li>Integrity at Core: Upholding the highest ethical standards in all our operations.</li>
        <li>Vigilant Monitoring: Ensuring 24/7 surveillance to protect assets and individuals.</li>
        <li>Continuous Improvement: Regular training and development to stay ahead in the security industry.</li>
        <li>Community Engagement: Actively participating in local initiatives to strengthen community ties.</li>
      </ul>
    </div>
  </div>
  
   </section>
   <section>
    <div class="services-container">
      <div class="service" *ngFor="let service of services; let i = index">
        <div class="service-content">
          <div class="service-image" [ngClass]="{'image-left': i % 2 === 0, 'image-right': i % 2 !== 0}">
            <img [src]="service.imageUrl" alt="{{ service.title }}">
          </div>
          <div class="service-info">
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
   </section>
