<app-header-banner
  [backgroundImage]="'/Handshake.jpg'"
  [title]="'WHAT WE DO'"
  [text]="'At Harmony, we give our best in the fields we work...'">
</app-header-banner>
<section class="section2">
  <div class="sectionOne">
    <div class="image-container">
      <img src="watch1.jpg" alt="Culture Image" class="culture-image" />
    </div>
    <div class="text-container" >
      <h2 class="section-title">Culture We Nourish</h2>
      <p class="intro-paragraph">
        We emphasize in integrity, vigilance, and continuous improvement. Our team is dedicated to providing top-tier security services while nurturing a supportive and ethical work environment.
      </p>
      <ul class="bullet-points">
        <li><span>Integrity at Core </span>: Upholding the highest ethical standards in all our operations.</li>
        <li><span>Vigilant Monitoring </span>: Ensuring 24/7 surveillance to protect assets and individuals.</li>
        <li><span>Continuous Improvement</span>: Regular training and development to stay ahead in the security industry.</li>
        <li><span>Community Engagement</span>: Actively participating in local initiatives to strengthen community ties.</li>
      </ul>
    </div>
  </div>
   </section>
   <section class="section3">
    <div class="card-container3">
      <div class="card3" *ngFor="let service of services3; let i = index" [ngStyle]="{'animation-delay': i * 100 + 'ms'}" >
        <div class="image-container3">
          <img [src]="service.image" alt="Housekeeping Service" />
        </div>
        <div class="content3">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
        </div>
        <div class="footer3">
          <a href="#" class="quote-btn3">GET QUOTE</a>
        </div>
      </div>
    </div>
  </section>
    <section class="WCSservice-section" data-aos="fade-down" data-aos-duration="1500" data-aos-offset="50" data-aos-easing="ease-out">
      <div class="WCScontainer">
        <div class="WCSimage-container">
          <img src="watch3.jpg" alt="Security Surveillance">
        </div>
        <div class="WCStext-container">
          <h2>THE TRAINING WE OFFER</h2>
          <p>
            The training we offer to external parties is developed in close consultation with relevant personnel to ensure the specific needs of each organisation are met.
          </p>
          <p> • Emergency response • Conflict resolution
            • Customer service • Armed robbery
            • Suspicious packages • Holding techniques
            • Dealing with aggressive persons
            • Incident reporting
            • Hazard Identification & risk assessment
            • Equal Employment Opportunity-discrimination
            • Supervisor training</p>
        </div>
      </div>
    </section>
    
    
    
    