
<p>home works!</p>
<!-- <div class="text-center">
    <img src="/Photos/images.png" class="rounded">
</div> -->

<div class="home-banner">
  <div class="home-banner-content">
    <h1 class="home-banner-title">Securing Your World with Harmony</h1>
    <p class="home-banner-description">
      Reliable and professional security services to keep your assets safe. Trust Harmony Security Service for peace of mind, 24/7.
    </p>
    <a href="#home-services" class="home-banner-button">Get Your Free Quote</a>
  </div>
</div>




<div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.

    
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum magnam ex dolores quas voluptatem accusamus, voluptas totam hic quae explicabo ducimus non inventore animi eos neque. Porro aperiam possimus ratione!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, cum aspernatur modi suscipit sed libero, labore aliquam iure et esse reprehenderit aliquid reiciendis tempore repudiandae quis iste praesentium quas ipsam?

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nostrum a, ut, optio cumque labore suscipit facilis hic aspernatur sequi eveniet provident ullam, natus error. Autem beatae corporis necessitatibus vitae.
</div>
<section class="info-section-all">
  <div class="info-section">
    <div class="info-content">
      <div class="info-item">
        <h2>10+</h2>
        <p>Years of Innovation & Excellence</p>
      </div>
      <div class="info-item">
        <h2>100+</h2>
        <p>Customers</p>
      </div>
      <div class="info-item">
        <h2>600+</h2>
        <p>Consultants Onboarded</p>
      </div>
      <div class="info-item">
        <h2>5+</h2>
        <p>Countries with Our Global Offices</p>
      </div>
    </div>
  
    <p class="description">
      Founded in 2014, Harmony is one of the key strategic partners to various 
      governments and defense agencies, leading banking, financial, insurance, and 
      retail institutions. We provide cutting-edge solutions and consulting in digital 
      transformation, AI, IoT, big data, and RPA, along with conventional IT services.
    </p>
  
    <div class="button-container">
      <button class="download-btn">Download Brochure</button>
    </div>
  </div>
  
</section>
<app-security-service></app-security-service>


