 <!-- <p></p>
  <div class="home-banner">
  <div class="home-banner-content">
    <h1 class="home-banner-title">Securing Your World with Harmony</h1>
    <p class="home-banner-description">
      Reliable and professional security services to keep your assets safe. Trust Harmony Security Service for peace of mind, 24/7.
    </p>
    <a href="./contact-us" class="home-banner-button">Get Your Free Quote</a>
  </div>
</div>  -->

 <section class="homepage-banner">
  <div class="banner-slider">
    <img src="/camera.jpg" alt="Slide 1" />
    <img src="/HomeP.jpeg" alt="Slide 2" />
    <img src="/Home3.jpeg" alt="Slide 3" />
  </div>

  <div class="banner-overlay">
    <h1 class="banner-title">Securing Your World with Harmony</h1>
    <p class="banner-description">
      Reliable and professional security services to keep your assets safe.<br />
      Trust Harmony Security Service for peace of mind, 24/7.
    </p>
    <a href="./contact-us" class="banner-button">Get Your Free Quote</a>
  </div>
</section> 


<div class="HomePageService">
<img class ="HomeImage1" src="/Watchman/watchman_cover.jpeg" data-aos="fade-right" data-aos-duration="2500" >
<div class="HomePageServiceContent"><p>Harmony Security Services ensures reliable Security service all over Pune. We offer quality Security and House Keeping service for Commercial Areas like malls as well as Residential areas like Bungalows, Housing complexes, and Co-operative housing societies.
  We specialize in providing tailor-made, professional security services to satisfy all your needs. We apply thought to provide safe and secure environment for our customers complete peace of mind.</p></div>
</div>
<section class="info-section-all" >
  <div class="info-section" >
     <div class="info-content" data-aos="fade-up-new" data-aos-duration="3000" data-aos-offset="50" > 
      <div class="info-item" >
        <h2>10+</h2>
        <p>Years of Innovation & Excellence</p>
      </div>
      <div class="info-item">
        <h2>30+</h2>
        <p>Happy Clients</p>
      </div>
      <div class="info-item">
        <h2>200+</h2>
        <p>Security and Housekeeping staff</p>
      </div>
      <div class="info-item">
        <h2>25+</h2>
        <p>Sites</p>
      </div>
    </div>
  
    <p class="description" data-aos="fade-down-new" data-aos-duration="3000" data-aos-offset="50">
      Founded in 2014, Harmony is one of the key strategic partners to various 
      governments and defense agencies, leading banking, financial, insurance, and 
      retail institutions. We provide cutting-edge solutions and consulting in digital 
      transformation, AI, IoT, big data, and RPA, along with conventional IT services.
    </p>
  
    <div class="button-container">
      <button class="download-btn">Download Brochure</button>
    </div>
  </div>
</section>
<section>
  <div class="slider">
    <div class="slider-header" data-aos="fade-right" data-aos-duration="3000"><span>Industries</span> we serve</div>
    <div class="slide-track">
      <div class="slide">
        <img src="Slider/residential.png" height="90" width="210" alt="" />
        <p>Residential Buildings</p>
      </div>
      <div class="slide">
        <img src="Slider/browser.png" height="90" width="210" alt="" />
        <p>IT and Technology</p>
      </div>
      <div class="slide">
        <img src="Slider/hospital.png" height="90" width="210" alt="" />
        <p>Hospitals</p>
      </div>
      <div class="slide">
        <img src="Slider/supermarket.png" height="90" width="210" alt="" />
        <p>Super Market</p>
      </div>
      <div class="slide">
        <img src="Slider/commercial.png" height="90" width="210" alt="" />
        <p>commercial spaces</p>
      </div> 
      <div class="slide">
        <img src="Slider/shopping-mall.png" height="90" width="210" alt="" />
        <p>malls</p>
      </div>
      <div class="slide">
        <img src="Slider/bank.png" height="90" width="210" alt="" />
        <p>Banks</p>
      </div>
      <div class="slide">
        <img src="Slider/conveyor.png" height="90" width="210" alt="" />
        <p>Manufacturing</p>
      </div>
      <div class="slide">
        <img src="Slider/retailer.png" height="90" width="210" alt="" />
        <p>Retail</p>
      </div>
      <div class="slide">
        <img src="Slider/contruction.png" height="90" width="210" alt="" />
        <p>Real Estate</p>
      </div>
      <div class="slide">
        <img src="Slider/engagement.png" height="90" width="210" alt="" />
        <p>Social Gathering/Events</p>
      </div>
      <div class="slide">
        <img src="Slider/fraud.png" height="90" width="210" alt="" />
        <p>Private Works</p>
      </div>
    </div>
  </div>
</section>
<app-security-service></app-security-service>


